<template>
  <div class="flex_display mt-4">
    <v-container>
      <v-row justify="center">
        <v-col sm="8" md="8" lg="6">
          <v-card class="mx-auto" width="100%">
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="headline mb-6 mt-6">
                  <div align="center">Create blog</div>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-text-field
              class="mr-4 ml-4"
              label="Title"
              outlined
              v-model="title"
            ></v-text-field>

            <v-text-field
              class="mr-4 ml-4"
              label="Content"
              outlined
              v-model="content"
            ></v-text-field>

            <v-text-field
              class="mr-4 ml-4"
              label="Link image"
              outlined
              v-model="images"
            ></v-text-field>

            <div align="right">
              <v-btn
                class="mr-4 mb-6"
                color="blue"
                outlined
                dark
                large
                @click="create_blog()"
                >Create</v-btn
              >
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import firebase from "../firebase";
export default {
  methods: {
    create_blog() {
      const db = firebase.firestore();
      if (this.title.length === 0) {
        alert("Please input title");
      } else if (this.content.length === 0) {
        alert("Please input content");
      } else if (this.images.length === 0) {
        alert("Please input image");
      } else {
        db.collection("blogs")
          .add({
            title: this.title,
            content: this.content,
            images: this.images,
          })
          .then((response) => {
            alert('Create success');
            location.href='/#/';
          });
      }
    },
  },
  data() {
    return {
      title: null,
      content: null,
      images: null,
    };
  },
};
</script>
