<template>
  <div class="flex_display mt-4">
    <v-container>
      <v-row justify="center">
        <v-col sm="8" md="8" lg="6">
          <v-card class="mx-auto" width="100%">
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="headline mb-6 mt-6">
                  <div align="center">Edit blog</div>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-text-field
              class="mr-4 ml-4"
              label="Title"
              outlined
              v-model="title"
            ></v-text-field>

            <v-text-field
              class="mr-4 ml-4"
              label="Content"
              outlined
              v-model="content"
            ></v-text-field>

            <v-text-field
              class="mr-4 ml-4"
              label="Link image"
              outlined
              v-model="images"
            ></v-text-field>

            <div align="right">
              <v-btn
                class="mr-4 mb-6"
                color="blue"
                outlined
                dark
                large
                @click="edit_blog()"
                >Edit</v-btn
              >

              <v-btn
                class="mr-4 mb-6"
                color="red"
                outlined
                dark
                large
                @click="delete_blog()"
                >Delete</v-btn
              >
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import firebase from "../firebase";
export default {
  mounted() {
    this.get_blog();
  },
  methods: {
    get_blog() {
      const db = firebase.firestore();
      db.collection("blogs")
        .get()
        .then((response) => {
          response.forEach((doc) => {
            if (doc.id === this.id) {
                this.title = doc.data().title;
                this.content = doc.data().content;
                this.images = doc.data().images;
            }
          });
        });
    },
    edit_blog() {
      const db = firebase.firestore();
      db.collection('blogs').doc(this.id).update({
        title: this.title,
        content: this.content,
        images: this.images
      }).then(response => {
        alert('Update success');
        location.href = '/#/';
      })
    },
    delete_blog () {
      const db = firebase.firestore();
      db.collection('blogs').doc(this.id).delete();
      alert('Delete success');
      location.href = '/#/';
    }
  },
  data() {
    return {
      title: null,
      content: null,
      images: null,
      id: this.$route.params.id,
    };
  },
};
</script>
