<template>
  <div class="mt-4">
    <v-container>
      <div class='mb-4' align='right'>
          <router-link to="/create">
            <v-btn color='blue' large>Create</v-btn>
          </router-link>
        </div>

      <v-row>
        <div class="col-md-4" v-for="item in items" :key="item.title">
          <router-link :to="`/edit/${item.id}`">
            <v-card class="mx-auto" width="100%">
              <v-img :src="`${item.data.images}`" height="200px"></v-img>

              <v-card-title> {{ item.data.title }} </v-card-title>

              <v-card-subtitle> {{ item.data.content }} </v-card-subtitle>
            </v-card>
          </router-link>
        </div>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import firebase from "../firebase";
export default {
  mounted() {
    this.get_data();
  },
  methods: {
    get_data() {
      const db = firebase.firestore();
      db.collection("blogs")
        .get()
        .then((response) => {
          response.forEach((doc) => {
            this.items.push(
              {
                id: doc.id,
                data: doc.data()
              }
            );
          });
        });
    },
  },
  data() {
    return {
      items: [],
    };
  },
};
</script>